@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Biryani:900');

@each $body, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
    #{$body} {
        font-family: 'Biryani', sans-serif;
        font-size: $size;
    }
  }

  $size: 16px;
  $primary-color: #000;
  $background-color: #e8ebf5;

@mixin large-text {
    font: {
      weight: bold;
    }
  }


@mixin small-text {
    font: {
        font-size: $size;
        family: 'Oxygen Mono', monospace;
    }
  }




body {
    max-width: 780px;
    margin: 40px auto;
    background-color: $background-color;
    color: $primary-color;
}

div.loading {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: $background-color;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.loading h3 {
    padding-left:24px;
}

div.loading.hidden {
    opacity: 0;
    pointer-events: none;
}

header {    
    z-index: 1;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header img {
    width: 80px;
    height:40px;
}

header nav li {
    text-align: left;
    padding-right: 16px;
    list-style: none;
}

header nav li a {
    position: relative;
    padding: 12px;
}

h3 {
    margin: 0;
}

a { 
    @include small-text;
    text-decoration: none;
    color: $primary-color;
    z-index: 1;
    position: relative;
}

p {
    @include small-text;
}

img.icon {
    width: 56px;
    height: 56px;
    display: inline-block;
    align-items: center;
    vertical-align: middle; 
}

img.footer-icon {
    display: inline;
}

section.collage {
    cursor: url('icon/cursor.svg'), auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

img.portfolio-img{
    position: absolute;
    top: 200px;
    left: 200px;
    transform: translate(-50%, -50%) scale(0.5);
    animation: fadein 0.5s;
}

img.portfolio-img:hover {
    z-index: 1;
}

footer {
    padding-top: 120px;
    text-align: center;
}
